<div style="width: 100%; max-width: calc(30% + 700px);">
    <div id="{{uniqid}}" style="padding-top: 56.25%;position:relative; overflow: hidden; width: 100% ">
    </div>
</div>
<script>

</script>
{{#js}}
    //<script>
        var iframe_code = "<iframe style='position: absolute; top: 0;  left: 0;  bottom: 0;  right: 0;  width: 100%;  height: 100%;'  src='{{iframe_src_url}}' webkitallowfullscreen mozallowfullscreen  allowfullscreen></iframe>";
        document.getElementById("{{uniqid}}").innerHTML += iframe_code;
{{/js}}